<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Use Thread Context for Session -->
        <property name="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</property>

        <!-- Mapping classes -->
        <mapping class="com.agriconnect.model.User"/>
        <mapping class="com.agriconnect.model.FarmerProfile"/>
        <mapping class="com.agriconnect.model.BuyerProfile"/>
        <mapping class="com.agriconnect.model.Crop"/>
        <mapping class="com.agriconnect.model.ProduceListing"/>
        <mapping class="com.agriconnect.model.Bid"/>
        <mapping class="com.agriconnect.model.Order"/>
        <mapping class="com.agriconnect.model.Advisory"/>
        <mapping class="com.agriconnect.model.MarketPrice"/>
        <mapping class="com.agriconnect.model.MatchmakingScore"/>
        <mapping class="com.agriconnect.model.MspRate"/>
        <mapping class="com.agriconnect.model.Notification"/>
        <mapping class="com.agriconnect.model.AuditLog"/>
        <mapping class="com.agriconnect.model.CriticalAlert"/>
        <mapping class="com.agriconnect.model.WalletTransaction"/>
        <mapping class="com.agriconnect.model.PriceHistory"/>
        <mapping class="com.agriconnect.model.FpoGroup"/>
        <mapping class="com.agriconnect.model.FpoMembership"/>
        <mapping class="com.agriconnect.model.FpoListing"/>
    </session-factory>
</hibernate-configuration>
